---
import { type CollectionEntry, getCollection } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';

export async function getStaticPaths() {
	const posts = await getCollection('publications');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'publications'>;

const post = Astro.props;

if (post.data.type === 'redirect') {
  return Astro.redirect(post.data.url, 301)
}

const { Content } = await post.render();
---

<BlogPost {...post.data}>
	<div class="prose sm:prose-lg">
		<Content />
	</div>
</BlogPost>
